# This file defines the database cross-references to retrieve
# within sequence databank entries during a formatdb process.
# These dbxrefs are then included within Fasta header enabling
# app to retrieve them as fast as possible without running
# a Data Retrieval sub-task.

# Each definition line below contains 6 fields:
# field 1: the term used to identified a db_xref data line
# field 2: the term used to identify a db_xref that has to be retrieved
# fields 3-4: the terms surrounding the identifier to retrieve.
# field 5: the term used to create a db_xref valid for app. This one
# should correspond to some of the keys defined in the "Data Server Links"
# configuration.
# field 6: the term used to cut a compound id (GO for example). Since
# this field is not always necessary, use $.
# When updating this file, app logs may be checked for any parsing 
# errors.

# Uniprot data file
"DR" , "GO"         , ";" , ";" , "GO"       , ":"
"DR" , "InterPro"   , ";" , ";" , "InterPro" , "$"
"DR" , "Pfam"       , ";" , ";" , "Pfam"     , "$"
"DR" , "BRENDA"     , ";" , ";" , "EC"       , "$"
"OX" , "NCBI_TaxID" , "=" , "{;" , "taxon"    , "$"

# NCBI data file
"/db_xref=","taxon", ":", """, "taxon", "$"

#specific to EMBL/ENA databank
"FT" , "db_xref="taxon" , ":" , """ , "taxon"    , "$"
