#
#  Network Configuration for standard SOCKS (no authentication).
# 
#  This file is used to configure the network access using
#  (or not) a Proxy SOCKS computer. 
# 
#  This file relies on 'key=value' pairs. Keys are reserved words of the
#  system and cannot be changed. Values on the other hand can be changed
#  as needed.
# 

#
#  Proxy host name.
# 
proxy.host=

#
#  Proxy host port.
# 
proxy.port=

# 
#  Proxy host usage. If true, all network accesses are done through
#  the Proxy server defined just above.
# 
proxy.use=false


proxy.password=
proxy.login=
