locator.root=
#reference to a localized file without its .properties extension
resources=descMessages

sections=a

section.a.name=res:net.form1.name
section.a.descriptor=netsocks.desc
section.a.config=netsocks.config
section.a.defconfig= 
section.a.type=props
section.a.editor=kvp
section.a.parent=
