# DBMS main configuration file to run Unit tests

#  !!!!!
#  DO NOT use same repository as production one: content of "mirror.path"
#  will be deleted when tests are done.
#  !!!!!

# Path where to install/manage local copies of databanks
mirror.path = ${javaTempDir}/biobase_test/

# Path where to prepare local installation of databanks
# before copying them in mirror.path during install in production task
mirrorprepa.path = ${javaTempDir}/biobase_test_tmp

# File storing the list of available databanks
mirror.file = dbmirror.config

# The NCBI BLAST maker application (Windows: do not add .exe extension)
# either 'formatdb' or 'makeblastdb' is supported
formater = makeblastdb

# The NCBI formatdb path location (${appdir} stands for DBMS install dir)
# always use | for path separator
location = ${appdir}|external|bin

# do not change (may result in problem with formatdb)
long.file.name = true

# show path name of installed databank in the UI
ui.showpath = false

# number of workers to use for FTP and Local file copy processing ([1..5])
copy.workers = 3

# default size of Fasta volumes created during DB installation. Unit is a number of Gb.
fasta.volsize = 8

# The following values:
#   lucene.fs
#   lucene.lock
# have been added to smoothly control Lucene locking system given 
# the File System used with your BeeDeeM installation. 
# See BeeDeeM Github issue #1.
# ONLY change values if you experience a Lucene exception when
# using BeeDeeM on your system. Otherwise let 'default' as is.
#
# Lucene File System to use. One of: default, nio or simple.
# More on this: read Lucene FSDirectory class API documentation.
lucene.fs = default
#
# Lucene File System lock to use. One of: default, native or simple.
# More on this: read Lucene LockFactory class API documentation.
lucene.lock = default
