# ==================================================================
# BeeDeeM main configuration file

# ==================================================================
# This file is loaded during BeeDeeM startup to define some
# usefull resources.
#
# It is possible to override this default behavior using either
# -D JRE cmdline arguments or environment variables, as follows.
# 
# Using -D JRE args: prefix config variable name with KL_; 
#  example:
#   -DKL_copy.workers=4
#   will override value defined in this configuration file by
#   copy.workers (see below, line 57).
#
# Using shell variable. To redefine one of the
# below listed variables (e.g. mirror.path), set a shell
# variable called KL_<variable_name> where you replace dot
# character by a double underscore (e.g. KL_mirror__path); as a
# reminder, dot char is not allowed in shell variable names.
#
# Example: to force BeeDeeM using a mirror.path different than
# the one set below, simply do this (bash shell) BEFORE starting
# BeeDeeM:
#    export KL_mirror__path=/a/new/path
#    java .../...
#  or directly:
#    java .../... -DKL_mirror.path=/another/path
#
# Declaration priority is as follows:
#  env var > -D > config file
#
# ==================================================================

# Path where to install/manage local copies of databanks
mirror.path = ${HOME}/beedeem-banks

# Path where to prepare local installation of databanks
# before copying them in mirror.path during install in production task
#mirrorprepa.path = ${HOME}/beedeem-banks/tmp

# File storing the list of available databanks
mirror.file = dbmirror.config

# The NCBI BLAST maker application (Windows: do not add .exe extension)
# either 'formatdb' or 'makeblastdb' is supported
formater = makeblastdb

# The NCBI formatdb path location (${appdir} stands for app install dir)
# always use | for path separator
location = ${appdir}|external|bin

# do not change (may result in problem with formatdb)
long.file.name = true

# show path name of installed databank in the UI
ui.showpath = false

# number of workers to use for FTP and Local file copy processing ([1..5])
copy.workers = 3

# default size of Fasta volumes created during DB installation. Unit is a number of Gb.
fasta.volsize = 8

# The following values:
#   lucene.fs
#   lucene.lock
# have been added to smoothly control Lucene locking system given 
# the File System used with your BeeDeeM installation. 
# See BeeDeeM Github issue #1.
# ONLY change values if you experience a Lucene exception when
# using BeeDeeM on your system. Otherwise let 'default' as is.
#
# Lucene File System to use. One of: default, nio or simple.
# More on this: read Lucene FSDirectory class API documentation.
lucene.fs = default
#
# Lucene File System lock to use. One of: default, native or simple.
# More on this: read Lucene LockFactory class API documentation.
lucene.lock = default

# Following keys are for Aspera configuration
# All OS: DO NOT use space in directory names !!!
aspera.bin.path=${HOME}/Applications/Aspera-CLI/bin/ascp
aspera.key.path=${HOME}/Applications/Aspera-CLI/etc/asperaweb_id_dsa.openssh

