cfg.name=res:prop.header
cfg.desc=res:prop.desc

resourceBundle=cfgEditorDefaultMsg.properties

items=dbName,dbDesc,dbType,dbLDir,dbInc,dbExc,utasks,gtasks,ptasks,ftps,ftpp,ftpn,ftpw,ftpr,ftprexcl,hist,depends,ascpu,ascps,ascpa
serialItems=dbName,dbDesc,dbType,dbLDir,dbInc,dbExc,utasks,gtasks,ptasks,ftps,ftpp,ftpn,ftpw,ftpr,ftprexcl,hist,depends,ascpu,ascps,ascpa

item.depends.name=res:prop.depends.name
item.depends.key=depends
item.depends.desc=res:prop.depends.desc
item.depends.optional=true
item.depends.ctype=atom
item.depends.dtype=string

item.dbName.name=res:prop.dbName.name
item.dbName.key=db.name
item.dbName.desc=res:prop.dbName.desc
item.dbName.optional=false
item.dbName.ctype=atom
item.dbName.dtype=string

item.dbDesc.name=res:prop.dbDesc.name
item.dbDesc.key=db.desc
item.dbDesc.desc=res:prop.dbDesc.desc
item.dbDesc.optional=false
item.dbDesc.ctype=atom
item.dbDesc.dtype=string

item.dbType.name=res:prop.dbType.name
item.dbType.key=db.type
item.dbType.desc=res:prop.dbType.desc
item.dbType.optional=false
item.dbType.ctype=choice
item.dbType.dtype=string
item.dbType.choice.entries=p,n,d
item.dbType.choice.default=p
item.dbType.choice.entry.p.name=Proteic
item.dbType.choice.entry.p.key=p
item.dbType.choice.entry.p.desc=res:prop.type.p
item.dbType.choice.entry.n.name=Nucleic
item.dbType.choice.entry.n.key=n
item.dbType.choice.entry.n.desc=res:prop.type.n
item.dbType.choice.entry.d.name=Dictionary
item.dbType.choice.entry.d.key=d
item.dbType.choice.entry.d.desc=res:prop.type.d

item.dbLDir.name=res:prop.dbLDir.name
item.dbLDir.key=db.ldir
item.dbLDir.desc=res:prop.dbLDir.desc
item.dbLDir.optional=false
item.dbLDir.ctype=atom
item.dbLDir.dtype=string

item.dbInc.name=res:prop.dbInc.name
item.dbInc.key=db.files.include
item.dbInc.desc=res:prop.dbInc.desc
item.dbInc.optional=false
item.dbInc.ctype=atom
item.dbInc.dtype=string

item.dbExc.name=res:prop.dbExc.name
item.dbExc.key=db.files.exclude
item.dbExc.desc=res:prop.dbExc.desc
item.dbExc.optional=false
item.dbExc.ctype=atom
item.dbExc.dtype=string

item.utasks.name=res:prop.utasks.name
item.utasks.key=tasks.unit.post
item.utasks.desc=res:prop.utasks.desc
item.utasks.optional=false
item.utasks.ctype=atom
item.utasks.dtype=string

item.gtasks.name=res:prop.gtasks.name
item.gtasks.key=tasks.global.post
item.gtasks.desc=res:prop.gtasks.desc
item.gtasks.optional=false
item.gtasks.ctype=atom
item.gtasks.dtype=string

item.ptasks.name=res:prop.ptasks.name
item.ptasks.key=tasks.global.pre
item.ptasks.desc=res:prop.ptasks.desc
item.ptasks.optional=false
item.ptasks.ctype=atom
item.ptasks.dtype=string

item.ftps.name=res:prop.ftps.name
item.ftps.key=ftp.server
item.ftps.desc=res:prop.ftps.desc
item.ftps.optional=false
item.ftps.ctype=atom
item.ftps.dtype=string

item.ftpp.name=res:prop.ftpp.name
item.ftpp.key=ftp.port
item.ftpp.desc=res:prop.ftpp.desc
item.ftpp.optional=false
item.ftpp.ctype=atom
item.ftpp.dtype=integer

item.ftpn.name=res:prop.ftpn.name
item.ftpn.key=ftp.uname
item.ftpn.desc=res:prop.ftpn.desc
item.ftpn.optional=false
item.ftpn.ctype=atom
item.ftpn.dtype=string

item.ftpw.name=res:prop.ftpw.name
item.ftpw.key=ftp.pswd
item.ftpw.desc=res:prop.ftpw.desc
item.ftpw.optional=false
item.ftpw.ctype=atom
item.ftpw.dtype=string

item.ftpr.name=res:prop.ftpr.name
item.ftpr.key=ftp.rdir
item.ftpr.desc=res:prop.ftpr.desc
item.ftpr.optional=false
item.ftpr.ctype=atom
item.ftpr.dtype=string

item.ftprexcl.name=res:prop.ftprexcl.name
item.ftprexcl.key=ftp.rdir.exclude
item.ftprexcl.desc=res:prop.ftprexcl.desc
item.ftprexcl.optional=false
item.ftprexcl.ctype=atom
item.ftprexcl.dtype=string

item.ascpu.name=res:prop.ascpu.name
item.ascpu.key=aspera.use
item.ascpu.desc=res:prop.ascpu.desc
item.ascpu.optional=false
item.ascpu.ctype=choice
item.ascpu.dtype=string
item.ascpu.choice.entries=t,f
item.ascpu.choice.default=p
item.ascpu.choice.entry.t.name=true
item.ascpu.choice.entry.t.key=true
item.ascpu.choice.entry.t.desc=true
item.ascpu.choice.entry.f.name=false
item.ascpu.choice.entry.f.key=false
item.ascpu.choice.entry.f.desc=false

item.ascps.name=res:prop.ascps.name
item.ascps.key=aspera.server
item.ascps.desc=res:prop.ascps.desc
item.ascps.optional=false
item.ascps.ctype=atom
item.ascps.dtype=string

item.ascpa.name=res:prop.ascpa.name
item.ascpa.key=aspera.args
item.ascpa.desc=res:prop.ascpa.desc
item.ascpa.optional=false
item.ascpa.ctype=atom
item.ascpa.dtype=string

item.hist.name=res:prop.hist.name
item.hist.key=history
item.hist.desc=res:prop.hist.desc
item.hist.optional=false
item.hist.ctype=atom
item.hist.dtype=integer

forms=form1

form.form1.name=res:prop.header
form.form1.key=form1
form.form1.desc=res:prop.desc
form.form1.items=dbDesc,dbType,ftps,ftpp,ftpn,ftpw,hist,ftpr,ftprexcl,dbInc,dbExc,ascpu,ascps,ascpa,utasks,gtasks,ptasks,depends
