
# ==================================================================
# BeeDeeM main configuration file

# ==================================================================
# This file is loaded during BeeDeeM startup to define some
# usefull resources.
#
# It is possible to override this default behaviour using 
# environment variables, as follows. To redefine one of the
# below listed variables (e.g. mirror.path), set a shell
# variable called KL_<variable_name> where you replace dot
# character by a double underscore (e.g. KL_mirror__path).
#
# Example: to force BeeDeeM using a mirror.path different than
# the one set below, simply do this (bash shell) BEFORE starting
# BeeDeeM:
#  export KL_mirror__path=/a/new/path
#
# ==================================================================
# Path where to install/manage local copies of databanks
mirror.path = @BIOBASE_ROOTDIR@

# Path where to prepare local installation of databanks before copying them in mirror.path
# If not set, the mirror.path is used 
#mirrorprepa.path = @BIOBASE_ROOTDIR@

# File storing the list of available databanks
mirror.file = dbmirror.config

# The NCBI formatdb application (Windows: do not add .exe extension)
formater = makeblastdb

# The NCBI formatdb path location (${appdir} stands for app install dir)
# always use | for path separator
location = ${appdir}|external|bin

# do not change (may result in problem with formatdb)
long.file.name = true

# show path name of installed databank in the UI
ui.showpath = false

# number of workers to use for FTP and Local file copy processing ([1..5])
copy.workers = 3

# default size of Fasta volumes created during DB installation. Unit is a number of Gb.
fasta.volsize = 8

# The following values:
#   lucene.fs
#   lucene.lock
# have been added to smoothly control Lucene locking system given 
# the File System used with your BeeDeeM installation. 
# See BeeDeeM Github issue #1.
# ONLY change values if you experience a Lucene exception when
# using BeeDeeM on your system. Otherwise let 'default' as is.
#
# Lucene File System to use. One of: default, nio or simple.
# More on this: read Lucene FSDirectory class API documentation.
lucene.fs = default
#
# Lucene File System lock to use. One of: default, native or simple.
# More on this: read Lucene LockFactory class API documentation.
lucene.lock = default
